{% extends "base.html" %}

{% block title %}Auto Search{% endblock %}

{% block base_content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <br>
        <h1 class="header center orange-text">Automobile Search</h1>
        <div class="row center">
            <h5 class="header col s12 light">Service for searching cars</h5>
        </div>
        <div class="row center">
            <a href="/start" class="btn-large waves-effect waves-light orange">Start searching</a>
        </div>
        <br><br>

    </div>
</div>

<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- Chart code -->
<script>
var xhr = new XMLHttpRequest();

xhr.open('GET', '/marks', false);

xhr.onreadystatechange = function() { // (3)
  if (xhr.readyState != 4) return;

  if (xhr.status == 200) {
      var data = JSON.parse(xhr.responseText);

var chart = AmCharts.makeChart( "chartdiv", {
  "type": "pie",
  "theme": "light",
  "dataProvider": data,
  "valueField": "value",
  "titleField": "mark",
  "outlineAlpha": 0.4,
  "depth3D": 15,
  "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
  "angle": 30,
});
  }

}

xhr.send();

</script>
<!-- HTML -->
<div id="chartdiv"></div>
{% endblock %}